@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #FBF8F1;
}

.container {
  display: flex;
  flex-direction: column;
  text-align: justify;
}

.container-full {
  max-width: 1240px;
}

.name-banner {
  background-color: #C1A3A3;
  color: #F3C5C5;
  font-size: 50px;
  text-align: center;
}

footer {
  background-color: #C1A3A3;
  color: #F3C5C5;
  height: 80px;
  text-align: center;
  padding: 30px;
}
