@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #FBF8F1;
}

.my-name {
  color: #F3C5C5;
  font-size: 50px;
  text-align: center;
}

.name-banner {
  background-color: #C1A3A3;
}

footer {
  /* color selected: #C1A3A3 */
  background-color: #C1A3A3;
  height: 80px;
  position:fixed;
  left:0;
  bottom:0;
  right:0;
  text-align: center;
  padding: 30px;
}
