footer {
  background-color: #eee2dc;
  color: #123C69;
  height: 80px;
  text-align: center;
  padding: 30px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  border-top: 2px solid #fafafa;
  max-width: 100%;
  box-sizing: border-box;
  background-color: #eee2dc;
  /* lines below not working */
  position: fixed;
  bottom: 0;
}
